USE [master]
GO
/****** Object:  Database [Сапожников5]    Script Date: 16.05.2023 10:54:31 ******/
CREATE DATABASE [Сапожников5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Сапожников5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Сапожников5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Сапожников5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Сапожников5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Сапожников5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Сапожников5]
GO
/****** Object:  Table [dbo].[Должности]    Script Date: 16.05.2023 10:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должности](
	[Код_должности] [int] NOT NULL,
	[Наименование_должности] [nvarchar](50) NULL,
 CONSTRAINT [PK_Должности] PRIMARY KEY CLUSTERED 
(
	[Код_должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 16.05.2023 10:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Код_заказа] [int] NOT NULL,
	[Код_сотрудника] [int] NULL,
	[Дата_создания] [date] NULL,
	[Время_создания] [time](7) NULL,
	[Код_клиента] [int] NULL,
	[Статус] [nvarchar](20) NULL,
	[Дата_закрытия] [date] NULL,
	[Время_проката] [nvarchar](20) NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[Код_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 16.05.2023 10:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[Код_клиента] [int] NOT NULL,
	[Фамиля] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Отчество] [nvarchar](50) NULL,
	[Серия_паспорта] [int] NULL,
	[Номер_паспорта] [int] NULL,
	[Дата_рождения] [date] NULL,
	[Адрес] [nvarchar](255) NULL,
	[Электронная_почта] [nvarchar](255) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[Код_клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 16.05.2023 10:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код_сотрудника] [int] NOT NULL,
	[Код_должности] [int] NULL,
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Логин] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
	[Последний_вход] [time](7) NULL,
	[Тип_входа] [nvarchar](255) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код_сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 16.05.2023 10:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[Код_услуги] [int] NOT NULL,
	[Наименование_услуги] [nvarchar](50) NULL,
	[Стоимость] [money] NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[Код_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Чек]    Script Date: 16.05.2023 10:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Чек](
	[ID] [int] NULL,
	[Код_заказа] [int] NULL,
	[Код_услуги] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Должности] ([Код_должности], [Наименование_должности]) VALUES (1, N'Администратор')
INSERT [dbo].[Должности] ([Код_должности], [Наименование_должности]) VALUES (2, N'Старший смены')
INSERT [dbo].[Должности] ([Код_должности], [Наименование_должности]) VALUES (3, N'Продавец')
GO
INSERT [dbo].[Заказы] ([Код_заказа], [Код_сотрудника], [Дата_создания], [Время_создания], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката]) VALUES (1, 101, CAST(N'2022-03-12' AS Date), CAST(N'09:10:00' AS Time), 45462526, N'Новая', NULL, N'120 минут')
INSERT [dbo].[Заказы] ([Код_заказа], [Код_сотрудника], [Дата_создания], [Время_создания], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката]) VALUES (2, 102, CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, N'В прокате', NULL, N'600 минут')
INSERT [dbo].[Заказы] ([Код_заказа], [Код_сотрудника], [Дата_создания], [Время_создания], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката]) VALUES (3, 104, CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, N'В прокате', NULL, N'120 минут')
GO
INSERT [dbo].[Клиенты] ([Код_клиента], [Фамиля], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [Электронная_почта]) VALUES (45462526, N'Фролов', N'Андрей', N'Иванович', 1180, 176596, CAST(N'2001-07-14' AS Date), N'344288, г. Санкт-Петербург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com')
INSERT [dbo].[Клиенты] ([Код_клиента], [Фамиля], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [Электронная_почта]) VALUES (45462527, N'Николаев', N'Даниил', N'Всеволодович', 2280, 223523, CAST(N'2001-02-10' AS Date), N'614164, г. Санкт-Петербург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com')
INSERT [dbo].[Клиенты] ([Код_клиента], [Фамиля], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [Электронная_почта]) VALUES (45462528, N'Снегирев', N'Макар', N'Иванович', 4560, 354155, CAST(N'1998-05-21' AS Date), N'394242, г. Санкт-Петербург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com')
GO
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Код_должности], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Последний_вход], [Тип_входа]) VALUES (101, 3, N'Иванов', N'Иван', N'Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', CAST(N'13:13:00' AS Time), N'Успешно')
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Код_должности], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Последний_вход], [Тип_входа]) VALUES (102, 3, N'Петров', N'Петр', N'Петрович', N'petrov@namecomp.ru', N'uzWC67', CAST(N'13:13:00' AS Time), N'Успешно')
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Код_должности], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Последний_вход], [Тип_входа]) VALUES (103, 1, N'Федоров', N'Федор', N'Федорович', N'fedorov@namecomp.ru', N'8ntwUp', CAST(N'13:13:00' AS Time), N'Успешно')
GO
INSERT [dbo].[Услуги] ([Код_услуги], [Наименование_услуги], [Стоимость]) VALUES (31, N'Прокат набора защитного оборудования', 1000.0000)
INSERT [dbo].[Услуги] ([Код_услуги], [Наименование_услуги], [Стоимость]) VALUES (34, N'Прокат роликов', 1000.0000)
INSERT [dbo].[Услуги] ([Код_услуги], [Наименование_услуги], [Стоимость]) VALUES (44, N'Аренда лодки', 700.0000)
GO
INSERT [dbo].[Чек] ([ID], [Код_заказа], [Код_услуги]) VALUES (1, 1, 34)
INSERT [dbo].[Чек] ([ID], [Код_заказа], [Код_услуги]) VALUES (2, 1, 31)
INSERT [dbo].[Чек] ([ID], [Код_заказа], [Код_услуги]) VALUES (3, 1, 353)
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Клиенты] FOREIGN KEY([Код_клиента])
REFERENCES [dbo].[Клиенты] ([Код_клиента])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Клиенты]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Сотрудники] FOREIGN KEY([Код_сотрудника])
REFERENCES [dbo].[Сотрудники] ([Код_сотрудника])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Сотрудники]
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Должности] FOREIGN KEY([Код_должности])
REFERENCES [dbo].[Должности] ([Код_должности])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Должности]
GO
ALTER TABLE [dbo].[Чек]  WITH CHECK ADD  CONSTRAINT [FK_Чек_Заказы] FOREIGN KEY([Код_заказа])
REFERENCES [dbo].[Заказы] ([Код_заказа])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Чек] CHECK CONSTRAINT [FK_Чек_Заказы]
GO
ALTER TABLE [dbo].[Чек]  WITH CHECK ADD  CONSTRAINT [FK_Чек_Услуги] FOREIGN KEY([Код_услуги])
REFERENCES [dbo].[Услуги] ([Код_услуги])
GO
ALTER TABLE [dbo].[Чек] CHECK CONSTRAINT [FK_Чек_Услуги]
GO
USE [master]
GO
